<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">
    <springProperty scope="context" name="serviceName" source="spring.application.name" defaultValue="product-management-service"/>

    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <fieldName>timestamp</fieldName>
                    <pattern>yyyy-MM-dd'T'HH:mm:ss.SSSZ</pattern>
                </timestamp>
                <pattern>
                    <pattern>
                        {
                          "serviceName": "${serviceName}",
                          "level": "%level",
                          "traceId": "%mdc{traceId:-}",
                          "spanId": "%mdc{spanId:-}",
                          "clientId": "%mdc{clientId:-}",
                          "userId": "%mdc{userId:-}",
                          "thread": "%thread",
                          "logger": "%logger{40}",
                          "message": "%message"
                        }
                    </pattern>
                </pattern>
                <stackTrace>
                    <fieldName>stackTrace</fieldName>
                </stackTrace>
            </providers>
        </encoder>
    </appender>

    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>${LOGSTASH_HOST:-localhost}:${LOGSTASH_PORT:-5000}</destination>
        <keepAliveDuration>1 minute</keepAliveDuration>
        <reconnectionDelay>5 second</reconnectionDelay>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"serviceName":"${serviceName}"}</customFields>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="JSON_CONSOLE"/>
        <appender-ref ref="LOGSTASH"/>
    </root>
</configuration>
